<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <div>
        <h1>Edit Post</h1>
    </div>
    <form action="login" method="POST">
        <input type="hidden" name="redirect" value="<%= redirect %>">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" value="<%= username %>"">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" value="<%= password %>">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>