@import url("https://fonts.googleapis.com/css?family=Montserrat");

.edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-family: "Montserrat";
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.title-label {
  font-weight: bold;
  font-size: 17px;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
}
